.custom-text-color{
    text-align: center;
    width: 450px;
    height: 600px;
    padding: 15px;
    background-color: lightblue;
    box-shadow: 5px 5px 5px;
  
}
.custom1{
    overflow-x: hidden;
    margin-top: 80px;
}

.custom-bg-color{
    background-color: lightblue;
    text-align: center;
}
